@font-face 
{
    font-family: 'F1';
    src: url(./fonts/Formula1.ttf);
}

@keyframes slideInFromLeft {
    0% 
    {
      transform: translateX(-100%);
    }
    100% 
    {
      transform: translateX(0);
    }
  }
#main_section
{
    background-image:linear-gradient(to top,rgba(5, 39, 104, 0.856),90%,rgb(255, 255, 255)),url(./images/management.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    padding: 0px;
    border: 0px;
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
}
.animation
{
    position: relative;
    left: 32%;
    display: inline-block;
    font-family: 'F1';
    animation: 1.8s ease-out 0s 1 slideInFromLeft
}
#image_animation
{
    position: relative;
    left: 10px;
    top: 58px;
    animation: 1.8s ease-out 0s 1 slideInFromLeft
}
#options
{
    display: inline-block;
    text-align: center;
    position: relative;
    width: 200px;
    left: 28.8%;
    top: 100px;
    transition: transform .2s;
    animation: 1.8s ease-out 0s 2 slideInFromBottom
}
#options:hover
{
    transform: scale(1.7);
}

.card_images
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.466);
    justify-content: center;
    margin: 10px;
    left: 21%;
    border-radius: 50%;
    padding: 5px;  
}
img
{
    width: 150px;
    height: 150px;
    transition: transform .2s;
}

#separator
{
    height: 800px;
}


.card
{
    display: flex;
    justify-content: center;
    background-color: black;
    border:solid 2px rgba(143, 131, 131,0.7);
    border-radius: 20px;
    position: absolute;
    left: 41.5%;
    top: 10%;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 25px 25px;
}
.label
{
    font-family: 'F1';
    position: relative;
    left: 14%;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button
{
    position: relative;
    left: 9%;
    font-family: 'F1';
    background-color: brown;
    width:250px;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s; 
}
.button:hover
{
    background: -webkit-linear-gradient(#000000, #ff2800);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}
#create_user
{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.795),90%,rgb(97, 92, 92)),url(./images/W122.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    position: relative;
    height: 55vw;
}

#change_password
{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.795),90%,rgb(97, 92, 92)),url(./images/RB18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 55vw;
}
#cp_image
{
    position: relative;
    left: 17.6%;
    height: 160px;
    width: 160px;
    border-radius: 25%;
}
#label_for_cp_password
{
    position: relative;
    left: 0.2%;
}
#change_button
{
    position: relative;
    width: 300px;
    left: 0.2%;
    font-size: 11px;
    text-align: center;
    transition: .2s;
}
#change_button:hover
{
    transform: scale(1.1);
}
#delete_user
{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.795),90%,rgb(97, 92, 92)),url(./images/mclaren.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 55vw;
}
#delete_username
{
    position: relative;
    left: 1%;
    margin-top: 5px;
}
input
{
    font-family: 'F1';
    position: relative;
    width: 290px;
    text-align: center;
    font-size: 56 px;
    border-radius: 10px;
}
#list_all_users
{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.795),90%,rgb(97, 92, 92)),url(./images/AM21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 55vw;
}
#lu_button
{
    position: relative;
    left: 0.5%;
    transition: 0.2;
}
#lu_button:hover
{
    transform: scale(1.15);
}
body {
    width: 100%;
    margin:0;
    padding: 0;
    border:0;
}
#lu_image
{
    position: relative;
    left: 13%;
    height: 160px;
    width: 160px;
    border-radius: 25%;
}
#table
{   position: relative;
    top: 45%;
    right: 0%;
    display: flex;
    justify-content: center;
    font-family: 'F1';
    color: white;
}
#little_menu
{
    position: relative;
    top: 52%;
    left: 45%;
    display: inline-block;
    background-color: white;
    opacity: .3;
    border-radius: 10px;
    padding: 2px;
}
.lmenu
{
    height: 50px;
    display: inline-block;
    transition: .2s;
}
.lmenu:hover
{
    transform: scale(1.16);
}
.option_image2
{
    width: 50px;
    height: 50px;
}
#little_menu2
{
    position: relative;
    top: 46%;
    left: 45%;
    display: inline-block;
    background-color: white;
    opacity: .3;
    border-radius: 10px;
    padding: 2px;
}
#little_menu3
{
    position: relative;
    top: 41%;
    left: 43.9%;
    display: inline-block;
    background-color: white;
    opacity: .3;
    border-radius: 10px;
    padding: 2px;
}