{% extends "layout.html" %}
{% block body %}

<section id="change_password">
    <div class="card">
        <img src="./static/Management/images/change_password .png" class="card_images" id="cp_image">


        <form action="/change" method="POST">
            <!USERNAME>
            <label class ="label" for="cp_username" id="label_for_cp_username">Username</label><br>
            <input type="text" name="cp_username" id="cp_username"><br><br>

            <!PASSWORD>
            <label class ="label" for="cp_password" id="label_for_cp_password">New Password</label><br>
            <input type="password" name="cp_password" id="cp_password"><br><br>

            <!CHANGE PASSWORD BUTTON>
            <input class="button" type="submit" name="change_password" value="Change Password" id="change_button">
        </form>
    </div>

    <div id="little_menu">
            
        <div class="lmenu">
            <a href="{{ url_for('main_menu') }}"><img src="./static/Management/images/home.png" class="option_image2"></a>
        </div>
        
        <div class="lmenu">
            <a href="{{ url_for('create_user') }}"><img src="./static/Management/images/new_user.png" class="option_image2" href="create_user"></a>
        </div>

        <div class="lmenu">
            <a href="{{ url_for('delete_user') }}"><img src="./static/Management/images/delete_user.png " class="option_image2"></a>
        </div>

        <div class="lmenu">
            <a href="{{ url_for('list_users') }}"><img src="./static/Management/images/users_list2.png" class="option_image2"></a>
        </div>

</div>

</section>

{% endblock %}