{% extends "layout.html" %}

{% block body %}

<section id="list_all_users">
    <div class="card">
        <img src="./static/Management/images/users_list2.png" class="card_images" id="lu_image">
        <form action="/list_user" method="POST">
            <input class="button" type="submit" value="List Users" name="list_users" id="lu_button">
        </form>
    </div>

    <div id="little_menu3">
            
        <div class="lmenu">
            <a href="{{ url_for('main_menu') }}"><img src="./static/Management/images/home.png" class="option_image2"></a>
        </div>
        
        <div class="lmenu">
            <a href="{{ url_for('create_user') }}"><img src="./static/Management/images/new_user.png" class="option_image2" href="create_user"></a>
        </div>

        <div class="lmenu">
            <a href="{{ url_for('change_password') }}"><img src="./static/Management/images/change_password .png" class="option_image2"></a>
        </div>

        <div class="lmenu">
            <a href="{{ url_for('delete_user') }}"><img src="./static/Management/images/delete_user.png " class="option_image2"></a>
        </div>

    </div>

    <div id="table">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>USERNAME</td>
                </tr>
            </thead>
            {% for user in users%}
                <tbody>
                    <tr>
                        <td>{{ user.0 }}</td>
                        <td>{{ user.1 }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}